body {
  margin: 0;
  background-image: linear-gradient(-35deg, #d8ff94 0%, #83d9dc 100%);
  background-attachment: fixed;
}

body::after {
  background: url("./assets/fond.png");
  content: "";
  position: fixed;
  opacity: 0.6;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.rsm-svg > g > rect {
  stroke: transparent;
}

.MuiList-root {
  padding: 0px !important;
}
